

#detailed-search-form{
  padding: 20px;
  width: 20vw;
}

.search-field{
  margin-bottom: 15px;
}

#detailed-search-result-wrapper{
  width: 100%;
  display: flex;
}

.posted-content{
  margin: 10px;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.message{
  margin-top: 50px;
  font-size: 25px;
}

.search-item-list {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}