

#detailed-search-form{
  padding-left: 10px;
  background-color: white;
  width: 300px;
}

.search-field{
  margin: 0.5rem 0;
}

#detailed-search-result-wrapper{
  width: 100%;
  display: flex;
}

.posted-content{
  margin: 10px;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.message{
  margin-top: 50px;
  font-size: 25px;
}